<mat-toolbar color="primary" class="header-toolbar">
  <div class="container">
    <div class="logo-section">
      <div (click)="navigateToDashboard()" class="logo" style="cursor: pointer;">
        <img src="assets/images/alinoj_logo.png" alt="AlinoJ Logo" class="logo-image">
       
      </div>
      <button mat-icon-button (click)="toggleMenu()" class="menu-button">
        <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>

    <div class="nav-links" [class.nav-links-open]="isMenuOpen">
      <!-- Courses Menu -->
      <button mat-button [matMenuTriggerFor]="courseMenu">
        <mat-icon>school</mat-icon>
        {{ 'HEADER.COURSES' | translate }}
      </button>
      
      <mat-menu #courseMenu="matMenu" class="full-width-menu courses-megamenu">
        <div class="course-dropdown">
          <ng-container *ngFor="let category of courseCategories">
            <div class="course-category">
              <div class="category-header">
                <mat-icon>{{ category.icon }}</mat-icon>
                <span>{{ category.name }}</span>
              </div>
              <div class="subcategories">
                <a *ngFor="let subcategory of category.subcategories"
                   [routerLink]="['/courses', category.name.toLowerCase(), subcategory.name.toLowerCase()]"
                   (click)="coursesMenuTrigger.closeMenu()"
                   class="subcategory-link">
                  <mat-icon>{{subcategory.icon}}</mat-icon>
                  <span>{{subcategory.name}}</span>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-menu>

      <!-- Shop Menu -->
      <button mat-button 
              [matMenuTriggerFor]="shopMenu" 
              class="shop-button"
              #shopMenuTrigger="matMenuTrigger">
        <mat-icon>shopping_basket</mat-icon>
        Shop
      </button>
      
      <mat-menu #shopMenu="matMenu" 
                class="shop-megamenu"
                [overlapTrigger]="false"
                [hasBackdrop]="true"
                [xPosition]="'after'"
                [yPosition]="'below'">
        <div class="shop-dropdown" (click)="$event.stopPropagation()">
          <div *ngFor="let category of ecommerceCategories" 
               class="shop-category">
            <div class="category-header">
              <mat-icon>{{category.icon}}</mat-icon>
              <span>{{category.name}}</span>
            </div>
            <div class="subcategories">
              <a *ngFor="let sub of category.subcategories" 
                 [routerLink]="sub.route" 
                 class="subcategory-item">
                <mat-icon>{{sub.icon}}</mat-icon>
                <span>{{sub.name}}</span>
              </a>
            </div>
          </div>
        </div>
      </mat-menu>

      <a mat-button routerLink="/shop" routerLinkActive="active" class="nav-link">
        <mat-icon>store</mat-icon>
        {{ 'HEADER.SHOP' | translate }}
      </a>

      <a mat-button routerLink="/about" routerLinkActive="active">
        {{ 'HEADER.ABOUT' | translate }}
      </a>
      <a mat-button routerLink="/services" routerLinkActive="active">
        {{ 'HEADER.SERVICES' | translate }}
      </a>
      <!-- <a mat-button routerLink="/portfolio" routerLinkActive="active">
        {{ 'HEADER.PORTFOLIO' | translate }}
      </a>
      <a mat-button routerLink="/tools" routerLinkActive="active">
        {{ 'HEADER.TOOLS' | translate }}
      </a> -->
      <a mat-button routerLink="/contact" routerLinkActive="active">
        {{ 'HEADER.CONTACT' | translate }}
      </a>
      
    </div>

    <div class="right-section" [class.right-section-open]="isMenuOpen">
      <!-- Add language selector -->
      <button mat-button [matMenuTriggerFor]="languageMenu" class="language-button">
        <mat-icon>language</mat-icon>
        {{ currentLang | uppercase }}
      </button>
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item *ngFor="let lang of languages" 
                (click)="switchLanguage(lang.code)"
                [class.active]="currentLang === lang.code">
          {{ lang.name }}
        </button>
      </mat-menu>

      <button mat-icon-button routerLink="/wishlist" class="wishlist-button">
        <mat-icon [matBadge]="wishlistItemCount" 
                 [matBadgeHidden]="wishlistItemCount === 0"
                 matBadgeColor="warn">favorite</mat-icon>
      </button>
      
      <button mat-icon-button (click)="navigateToCart()" class="cart-button">
        <mat-icon [matBadge]="cartItemCount" 
                 [matBadgeHidden]="cartItemCount === 0"
                 matBadgeColor="warn">shopping_cart</mat-icon>
      </button>

      <ng-container *ngIf="!isLoggedIn; else userMenu">
        <button mat-button (click)="openLogin()" class="auth-button">
          {{ 'HEADER.LOGIN' | translate }}
        </button>
        <button mat-raised-button (click)="openRegister()" color="accent" class="auth-button">
          {{ 'HEADER.REGISTER' | translate }}
        </button>
      </ng-container>

      <ng-template #userMenu>
        <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-button">
          <mat-icon>account_circle</mat-icon>
          {{ username }}
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>person</mat-icon>
            {{ 'HEADER.PROFILE' | translate }}
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            {{ 'HEADER.LOGOUT' | translate }}
          </button>
        </mat-menu>
      </ng-template>

      <ng-container *ngIf="isLoggedIn">
        <a mat-button routerLink="/header-master" routerLinkActive="active">
          <mat-icon>settings</mat-icon>
          Header Management
        </a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn && username === 'superadmin'">
        <a mat-button routerLink="/header-master" routerLinkActive="active">
          <mat-icon>settings</mat-icon>
          Header Management
        </a>
      </ng-container>
    </div>
  </div>
</mat-toolbar>